html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    text-align: center;
}

div{
width: 310px;
margin: 0 auto;
}

.recipe{
  border-radius: 8px;
  border-style: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 8px;
  outline: none;
  padding: 10px 16px;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.recipe.chicken-satay{
    background-color: rgba(227, 177, 103, 0.393);
}

.recipe.chicken-noodle-soup{
    background-color: rgba(225, 169, 86, 0.821);
}

.recipe.microwave-potato{
    background-color: rgb(219, 161, 73);
}